@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
header{
    background-color: #963FED;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-flow: row wrap;
}
h1{
    color: white;
    /* border:  2px dotted black; */
    flex: 0 0 150px
}
nav{
    
    background-color: white;
    display: flex;
    /* border:  2px dotted black; */
    flex-flow: row nowrap;
    flex: 0 0 auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.357);
}
main{
    background-color: white;
    width: 60vw;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
}
h2{
    padding: 10px;
    text-align: center;
}
a{
    color: gray;
    text-decoration: none;
    padding: 10px;
}
a:hover{
    color: #963FED;
    transition: color .5s;
}
p{
    padding: 10px;
}

