@charset "UTF-8";


body{
    background-image: radial-gradient(circle, #F4DFC0 10%, #F2B53B, #f18274);
    
}
main{
    background-color: white;
    padding: 5px;
    width: 600px;
    margin: auto;
    border-radius: 5px;
    box-shadow:5px 5px 15px #3f3e3c9c;
}
h1{
    text-align: center;
    color: #F2B53B;
    text-shadow:1px 1px 2px #f183749d;
}
h2{
    color: #D83F37;
}