@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
header{
    background-color: lightblue;
}
header > h1{
    text-align: center;
}
menu{
    background-color: rgb(130, 182, 199);
}
li{
    display: inline-block;
    padding: 10px;
    color: white;
}
main{
    padding-top: 10px;
    width: 600px;
    display: block;
    margin: auto;
    line-height: 1.5em;
}
main h2{
    padding: 10px;
}
main p{
    padding-bottom: 1em;
}